.faq-section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-bottom: 96px;
  .faq-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0px;
    color: #302e33;
  }
  .faq-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .faq-item {
      background-color: #faf6ff;
      min-height: 87px;
      width: 100%;
      border: 1px solid transparent;
      border-radius: 12px;
      padding: 32px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      overflow: hidden;
      transition: all 0.3s ease;
      .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.16px;
        .arrow {
          color: #a05bf9;
          width: 12.5px;
          height: 6.25px;
          transition: transform 0.3s ease;
          cursor: pointer;

          &.open {
            transform: rotate(180deg);
          }
        }
      }
      .faq-answer {
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0.16px;
        color: #302e33;
        font-size: 16px;
      }
    }
  }
}
